<div class="sidebar left">
    <ul class="list-sidebar bg-defoult">
        <!--<li class="nav-header "> <span> <img alt="image" class="img-circle" src="http://placehold.it/150x150"> </span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
        <li><a href="#">Regular link</a></li>
        <li class="disabled"><a href="#">Disabled link</a></li>
        <li><a href="#">Another link</a></li> 
      </ul> 
    </li>-->
        <li> <a href="#" class="active"><i class="fa fa-home"></i> <span class="nav-label">home</span></a> </li>
        <li> <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed"> <i
                    class="fa fa-file-text-o" aria-hidden="true"></i> <span class="nav-label"> Study level content
                </span> <span class="fa fa-chevron-left pull-right"></span> </a>
            <ul class="sub-menu collapse" id="dashboard">
                <li class="active"><a href="#">link</a></li>
                <li><a href="#">link</a></li>
                <li><a href="#">link</a></li>
            </ul>
        </li>

        <li> <a href="#"><i class="fa fa-laptop"></i> <span class="nav-label">Protocol Level Content</span></a> </li>

        <li> <a href="#"><i class="fa fa-table" aria-hidden="true"></i> <span class="nav-label">Randomization Schema</span></a> </li>
        


        <li> <a href="#" data-toggle="collapse" data-target="#e-commerce" class="collapsed" >
            <i class="fa fa-pie-chart"></i> <span class="nav-label">Visit Metrics</span><span class="fa fa-chevron-left pull-right"></span></a>
            <ul  class="sub-menu collapse" id="e-commerce" >
              <li><a href=""> link</a></li>
              <li><a href=""> link</a></li>
              <li><a href="">link</a></li>
            </ul>
          </li>

        <li> <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Data Collection Elements</span></a> </li>
    </ul>
</div>

<script>
    $(document).ready(function () {
        $('button').click(function () {
            $('.sidebar').toggleClass('fliph');
        });
    });</script>