<br>
<div class="tab-pane fade show active border" style="padding: 50px;" id="addElement" role="tabpanel"
  aria-labelledby="home-tab">
  <form #studyContent="ngForm" (ngSubmit)="onAddStudyLevelContent(studyContent)" ngNativeValidate>

    <!--
    <p>Form value: {{ studyContent.value | json }}</p>
    -->

     <!-- Search by element-->
     <label for="searchProtocolId">Search for existing protocol Id</label>
     <div class="input-group">
       <select class="custom-select" id="searchProtocolId" name="searchProtocolId" [(ngModel)]="studyLevelContent.protocolId"
         (change)="getStudyProtocolsDetails()">
 
         <option *ngFor="let studyContent of studyLevelContentArray" [ngValue]="studyContent.protocolId">
           {{ studyContent.protocolId }} </option>
 
       </select>
       <div class="input-group-append">
         <button class="btn btn-outline-secondary" type="button"
           (click)="getStudyProtocolsDetails()">Search</button>
       </div>
     </div>


    <div class="form-group">
      <label for="protocolId">Protocol Id</label>
      <input type="text" class="form-control" id="protocolId" name="protocolId" placeholder="create new protocol Id if not exist"
        [(ngModel)]="studyLevelContent.protocolId" required>
    </div>

    <label for="theropotic-area">Theropotic Area</label>
    <div class="input-group">
      <select class="custom-select" id="theropotic-area" name="theropotic-area"
        [(ngModel)]="studyLevelContent.therapeuticArea" (change)="getElementValueRelationship($event)">
        <option *ngFor="let theropotic of theropoticArea" [ngValue]="theropotic">{{ theropotic }}
        </option>
      </select>
    </div>

    <label for="indication">Indication</label>
    <div class="input-group">
      <select class="custom-select" id="indication" name="indication" [(ngModel)]="studyLevelContent.indication">
        <option *ngFor="let ind of indicationArray" [ngValue]="ind">
          {{ ind }}
        </option>
      </select>
    </div>

    <label for="study-phase">Study Phase</label>
    <div class="input-group">
      <select class="custom-select" id="study-phase" name="study-phase" [(ngModel)]="studyLevelContent.studyPhase">
        <option *ngFor="let phase of studyPhase" [ngValue]="phase">{{ phase }}
        </option>
      </select>
    </div>

    <label for="study-type">Study Type</label>
    <div class="input-group">
      <select class="custom-select" id="study-type" name="study-type" [(ngModel)]="studyLevelContent.studyType">
        <option *ngFor="let type of studyType" [ngValue]="type">{{ type }}
        </option>
      </select>
    </div>

    <br>
    <button type="submit" class="btn btn-primary">Save</button>

    <!-- Error handling -->
    <div [hidden]="!postSuccess" class="alert alert-success">
      {{ postSuccessMessage }}
    </div>
    <div [hidden]="!postError" class="alert alert-danger">
      {{ postErrorMessage }}
    </div>

  </form>
</div>