<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">

        <div class="container ">
            <form class="form-input">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Study level content</h1>
                </div>

                <div class="form-label-group">
                    <input type="text" class="form-control" id="protocol-name" placeholder="Enter protocol name"
                        required autofocus>
                    <label for="protocol-name">Protocolo Name</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="theropotic-area" class="form-control" placeholder="Theropotic Area" required
                        autofocus>
                    <label for="theropotic-area">Theropotic Area</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="compound-id" class="form-control" placeholder="Compound ID" required>
                    <label for="compound-id">Compound ID</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="study-phase" class="form-control" placeholder="Study Phase" required>
                    <label for="study-phase">Study Phase</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="study-type" class="form-control" placeholder="Study Type" required>
                    <label for="study-type">Study Type</label>
                </div>

                <div class="form-label-group">
                    <input type="text" id="label-indication" class="form-control" placeholder="Indication" required>
                    <label for="label-indication">Indication</label>
                </div>

                <button class="btn btn-lg btn-success btn-block" type="submit">Save</button>
            </form>
        </div>


    </main>
</div>