<div class="page-wrapper chiller-theme toggled">
    <main class="page-content">

        <div class="container">
            <form>
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 font-weight-normal">Study level content</h1>
                </div>

                <div class="form-group">
                    <label for="protocol-name">Protocol Name</label>
                    <input type="text" class="form-control" id="protocol-name" placeholder="Enter protocol name"
                        required autofocus>    
                    <small id="protocol-name" class="form-text text-muted">We'll create the new protocol name else fetch from existing one.</small>                
                </div>

                <div class="form-group">
                    <label for="theropotic-area">Theropotic Area</label>
                    <input type="text" id="theropotic-area" class="form-control" placeholder="Theropotic Area" required
                        autofocus>                    
                </div>

                <div class="form-group">
                    <label for="compound-id">Compound ID</label>
                    <input type="text" id="compound-id" class="form-control" placeholder="Compound ID" required>  
                </div>

                <div class="form-group">
                    <label for="study-phase">Study Phase</label>
                    <input type="text" id="study-phase" class="form-control" placeholder="Study Phase" required>
                </div>

                <div class="form-group">
                    <label for="study-type">Study Type</label>
                    <input type="text" id="study-type" class="form-control" placeholder="Study Type" required>
                </div>

                <div class="form-group">
                    <label for="label-indication">Indication</label>
                    <input type="text" id="label-indication" class="form-control" placeholder="Indication" required>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>


    </main>
</div>