<h4>Study Level Content</h4>
<hr>
<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- Tab Nav-Bar-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="addElement-tab" data-toggle="tab" routerLink="/study-level/add" role="tab"
                        aria-controls="addElement" aria-selected="true">Add StudyLevel Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="listElement-tab" data-toggle="tab" routerLink="/study-level/show" role="tab"
                        aria-controls="listElement" aria-selected="false">List StudyLevel Content</a>
                </li>
            </ul>
        </div>
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>