<div class="container">

  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Study level content</h1>
    </div>

    <div class="form-group">
      <label for="protocol-name">Protocol Name</label>
      <input type="text" class="form-control" id="protocol-name" placeholder="Enter protocol name" required autofocus
        [ngModel]="defaultVal" name="protocol-name">
      <small id="protocol-name" class="form-text text-muted">We'll create the new protocol name else fetch from
        existing one.</small>
    </div>

    <div class="form-group">
      <label for="theropotic-area">Theropotic Area</label>
      <input type="text" id="theropotic-area" class="form-control" placeholder="Theropotic Area" required autofocus
        ngModel name="theropotic-area">
    </div>

    <div class="form-group">
      <label for="compound-id">Compound ID</label>
      <input type="text" id="compound-id" class="form-control" placeholder="Compound ID" ngModel name="compound-id"
        required>
    </div>

    <div class="form-group">
      <label for="study-phase">Study Phase</label>
      <input type="text" id="study-phase" class="form-control" placeholder="Study Phase" ngModel name=study-phase
        required>
    </div>

    <div class="form-group">
      <label for="study-type">Study Type</label>
      <input type="text" id="study-type" class="form-control" placeholder="Study Type" ngModel name="study-type"
        required>
    </div>

    <div class="form-group">
      <label for="label-indication">Indication</label>
      <input type="text" id="label-indication" class="form-control" placeholder="Indication" ngModel
        name="label-indication" required>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-primary">Next</button>
    </div>
  </form>
</div>