<br>
<div class="border" style="padding: 50px;">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Protocol Id</th>
        <th scope="col">Acronym</th>
        <th scope="col">Protocol Title</th>
        <th scope="col">Arm Name</th>
        <th scope="col">Masking</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let studyContent of protocolLevelContentArray">
      <tr>
        <th scope="row">{{ studyContent.protocolId }}</th>
        <td>{{studyContent.acronym }}</td>
        <td>{{studyContent.protocolTitle }}</td>
        <td>{{studyContent.armName }}</td>
        <td>{{studyContent.masking }}</td>
        <td>
          <button type="button" class="btn btn-outline-info"
            (click)="editElement(studyContent.protocolId)">Edit</button>
          <button type="button" class="btn btn-outline-danger"
            (click)="deleteContent(studyContent.protocolId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>


</div>